body {
  font-family: "Rubik", sans-serif;
}
.page-title {
  text-transform: uppercase;
  h1 {
    color: #525558;
  }
}
h1.uline-title:after {
  content: "";
  border: 1px solid #525558;
  display: block;
  width: 50px;
  margin: 0 auto;
  margin-top: 0.5rem;
}
.uline-title-white:after {
  content: "";
  border: 1px solid #ffffff;
  display: block;
  width: 50px;
  margin: 0 auto;
  margin-top: 0.5rem;
}
.destination-cnt-holder h3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0;
}
.test-title p {
  color: #ffffff;
}
.event-desc {
  padding: 1rem;

  h4 {
    font-size: 16px;
    color: #525558;
    margin-top: 1rem;
  }
  p {
    font-size: 14px;
    color: #525558;
  }
}
.events-box a {
  text-decoration: none;
}
.event-desc a {
  color: #fc4e44 !important;
  &:hover {
    color: #525558 !important;
  }
}
.news-holder {
  a {
    text-decoration: none;
    color: $primary-blue;
    &:hover {
      color: #fc4e44;
    }
  }
  h4 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 0.5rem;
  }
  date {
    font-size: 14px;
    color: #8c8c8c;
  }
  p {
    color: #8c8c8c;
    font-size: 14px;
  }
}
.class-dtl-holder {
  a {
    text-decoration: none;
    color: #fc4e44;

    &:hover {
      color: $primary-blue;
    }
  }
}
.testomonial-cont {
  p {
    color: #8c8c8c;
    font-size: 14px;
  }
}
.content-contact {
  p {
    color: #757474e0;
    font-size: 14px;
    font-weight: 500;
  }
}
